.title_ads {
	font-family: OpenSansSemibold;
	color: black;
	font-size: 16px;
	margin-top: 7px;
	margin-left: 11px;
}

.dop_contents_ads {
	font-family: OpenSansLight; 
	font-size: 14px;
	margin-left: 32px;
	margin-right: 8px;	
}

.contacts_inf_ads {	
	float: left;
}

.contacts_name_blocks_ads {
	margin-left: 11px;
	float: left;
	word-wrap: break-word;
	margin-bottom: 8px;
}

.hide_block_ads, .hide_block_inform {
	clear:both;
	height: 18px;
	float: left;
	background-color: RGBA(0, 0, 0, 0.3);
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}

.hide_ads, .hide_inform {
	margin: 0px 3px 4px 3px;		
	color: white;
	font-family: OpenSansLight; 
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0px -1px 0px RGBA(0, 0, 0, 0.3);
}