/*.title_ads {
	font-family: OpenSansSemibold;
	color: black;
	font-size: 16px;
	margin-top: 7px;
	margin-left: 11px;
}

.dop_contents_ads {
	font-family: OpenSansLight; 
	font-size: 14px;
	margin-left: 32px;
	margin-right: 8px;	
}

.contacts_inf_ads {	
	float: left;
}

.contacts_name_blocks_ads {
	margin-left: 11px;
	float: left;
	word-wrap: break-word;
	margin-bottom: 8px;
}

.hide_block_ads, .hide_block_inform {
	clear:both;
	height: 18px;
	float: left;
	background-color: RGBA(0, 0, 0, 0.3);
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}

.hide_ads, .hide_inform {
	margin: 0px 3px 4px 3px;		
	color: white;
	font-family: OpenSansLight; 
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0px -1px 0px RGBA(0, 0, 0, 0.3);
}*/

.ads_block {
  width: 100%;
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 5px 0 5px 0;
}

.ads_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.ads_img {
  border-radius: 19px;
  margin: auto;
	width: 38px;
}

.ads_title_name {
  flex-grow: 1;
  padding-left: 7px;
  font-family: OpenSansLight;
  font-size: 13px;
	color: black;
}

.ads_title_name_date {
  color: #07999b;
}

.ads_title_icon_dop_info {
  background: url('../img/ads_info.svg') no-repeat center center;
	background-size: 22px 22px;
  width: 26px;
  height: 26px;
  margin: auto;
}

.ads_more_info {
  font-family: OpenSansLight;
  font-size: 13px;
  margin-left: 35px;
	color: black;
}

.ads_more_info p {
  margin-top: 4px;
  margin-bottom: 1px;
	color: black;
}