.paragraph {
	width: 100%;
	height: 10px;	
}

#head_event{	
	overflow:hidden;
}

#events_content {
	background-color: #dee5eb;	
	color:black;	
}

#ava_event {	
	float: left;	
	width:115px;
	margin-left:15px; 
	overflow:hidden;
	position: relative;
}

#date_event {
	background-color: rgba(0, 0, 0, 0.7);
	width: 109px;
	height: 20px;
	position: absolute;
	top: 94px;
	left:3px;
	color: white;
	text-align: center;
	font-family: "Helvetica Neue", "Roboto", sans-serif;
}

#name_event {	
	margin-left:145px; 
	margin-right:15px;	
	text-align:left;
	font-weight:600;
	font-size: 15pt;
	color: black;
	font-family: "Helvetica Neue", "Roboto", sans-serif;
}

.border_ava {
	border: 3px solid #cbcfd6;
}

.info_event {	
	overflow:hidden;
}

.name_block {	
	margin-left: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", "Roboto", sans-serif;
	color: black;
}

.content_event {
	margin-left: 30px;
	margin-right: 15px;
	font-size: 12pt;
	color: black;
}

.redme {
	color: #e46f9b;
	text-decoration: none;
}

input[type="submit"] {  
  	color: #ffffff;
  	font-size: 18px;
  	background: #3498db;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
	border: none;
	width: 100%;
	display: block;
	text-align: center;	
}

#inputtext {
   	border: 1px solid #b7b7b7; //цвет рамки   
	background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   	outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   	height: 44px; // высота на свое усмотрение
	width: 100%; // ширина на свое усмотрение
   	color: #878787; //цвет шрифта в обычном состоянии
   	font-size: 11px; // Размер шрифта 	
	text-align: center;
	padding-left:15px;
	background-color: white;
}