/*Начало - Кокретное мероприятие до регистрации*/
.paragraph {
	width: 100%;
	height: 10px;	
}

#head_event{	
	overflow:hidden;
}

#events_content {
	background-color: #dee5eb;	
	color:black;	
}

#ava_event {	
	float: left;	
	width:115px;
	margin-left:15px; 
	overflow:hidden;
	position: relative;
}

#date_event {
	background-color: rgba(0, 0, 0, 0.7);
	width: 109px;
	height: 20px;
	position: absolute;
	top: 94px;
	left:3px;
	color: white;
	text-align: center;
	font-family:'Myriad Pro Condensed';
}

#name_event {	
	margin-left:145px; 
	margin-right:15px;	
	text-align:left;
	font-weight:600;
	font-size: 15pt;
	color: black;
	font-family:'Myriad Pro Condensed';
}

.border_ava {
	border: 3px solid #cbcfd6;
}

.info_event {	
	overflow:hidden;
}

.name_block {	
	margin-left: 15px;
	font-weight: bold;
	font-family:'Myriad Pro Condensed';
	color: black;
}

.content_event {
	margin-left: 30px;
	margin-right: 15px;
	font-size: 12pt;
	color: black;
}

.redme {
	color: #e46f9b;
	text-decoration: none;
}

input[type="submit"] {  
  	color: #ffffff;
  	font-size: 18px;
  	background: #3498db;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
	border: none;
	width: 100%;
	display: block;
	text-align: center;	
	font-family:'Myriad Pro Condensed';
	font-size: 18px;
}

#enter { //пришлось заменить, сори
	font-family:'Myriad Pro Condensed';
  	font-size: 18px;
  	background: #3498db;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
    text-emphasis-color: #ffffff;
	border: none;
	width: 100%;
	display: block;
	text-align: center;	
    color: #ffffff;
}

#inputtext {
   	border: 1px solid #b7b7b7; //цвет рамки   
	background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   	outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   	height: 44px; // высота на свое усмотрение
	width: 100%; // ширина на свое усмотрение
   	color: #878787; //цвет шрифта в обычном состоянии
   	font-size: 11px; // Размер шрифта 	
	text-align: center;
	padding-left:15px;
	background-color: white;
}
/*Конец - Кокретное мероприятие до регистрации*/

/*Начало - Кокретное мероприятие после регистрации*/
#scroll_menu {
	width: 100%;
	height: 38px;
	background-color: #1e96f5;
}

#scroll_menu li {
	display: inline-block;
	float: left;
	padding-left: 14px;
	padding-right: 14px;	
	height: 100%;
	padding-top: 10px;
	font-family:'Myriad Pro Condensed';
	
	font-size: 12pt;
}

#scroll_menu a {		
	height: 100%;	
	text-decoration: none;
	color: white;
}

.active1 {	
	border-bottom: 3px solid #e46f9b;
}

/*Расписание*/
.block_schedule {
	margin: 5px;
	border: 1px solid #d8dbe0;
	/*padding: 15px 20px 15px 20px;*/ 
	font-family:'Myriad Pro Condensed';
	font-weight:normal;	
	background-image: url('../img/bg_schedule.png');
	font-size: 12pt;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.47);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.47);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.47);
	transition: 0.5s;
	background-color: #fff;
	color:black;	
}

.content_schedule {
	font-family:'Myriad Pro Condensed';
	padding-top: 15px;
	padding-left: 20px;  	
  	width: calc(100% - 30px);
  	display: inline-block;
}

.im_going {
  background-image: url('../img/I_do_not_go.png');;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.im_not_going {
  background-image: url('../img/Im_going.png');;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.more_info_schedule {
	display: none;
	padding-left: 40px;
	color: #123958;
	font-size: 13pt;
}

.show_hide_schedule {
	background-image: url('../img/show_schedule_bg.png');
	width: 100%;
	height: 28px;
}

.arrow_to_down_up_schedule {	
	margin-top: 12px;	
	margin-left: 44.5%;
}

.block_schedule:active {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 1);
}

.What_a_day {
	text-align:center;
	margin-top: 10px;
	color: #4b4b4b;
	font-family:'Myriad Pro Condensed';
	font-weight:normal;
	font-size: 13pt;
}
/*Начало - Кокретное мероприятие после регистрации*/
#add_inform_content {
	margin-right: 20px;
}