@font-face {
    font-family: OpenSansSemibold; /* Имя шрифта */
    src: url('../fonts/OpenSans-Semibold.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansLight; /* Имя шрифта */
    src: url('../fonts/OpenSans-Light.ttf'); /* Путь к файлу со шрифтом */
}

.inform_block, .ads_content {
	font-family: OpenSansLight;	
	font-size: 14px;
	color: black;
	background-color: white;
	overflow:hidden;
	margin: 6px;
	margin-top: 10px;
	border: 1px solid #d8dbe0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.visible_inform {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.right_inform_block {
	min-width: 34px;
	background: url('../img/arrow_to_down_schedule.svg') no-repeat center center;
  	background-size: 21px 13px;
}

.right_inform_block_up {
	min-width: 34px;
	background: url('../img/arrow_to_up_schedule.svg') no-repeat center center;
  	background-size: 21px 13px;
}


.left_inform_block {	
	font-family: OpenSansLight;	
	overflow:hidden;		
	flex-grow: 1;
}

.name_inform {
	padding-top: 2px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 590;
	color: black;
}

.title_inform {
	clear: both;
	font-family: OpenSansSemibold;
	font-size: 16px;
	padding-left: 18px;	
}

.more_info_inform {
	margin-left: 32px;
	display: none;
}

.rate_inform {
	margin-top: 10px;
}

.like_inform {
	background: url('../img/like.svg') no-repeat center center;
}

.dislike_inform {	
	background: url('../img/dislike.svg') no-repeat center center;
}

.like_inform, .dislike_inform  {
	width: 21px;
	height: 18px;	
	background-size: 21px 18px;
	float: left;
	margin-left: 12px;
}

.rate_dislike, .rate_like {
	font-family: OpenSansLight;	
	font-size: 16px;
	float: left;
}

.rate_like {
	color: #3b9654;
}

.rate_dislike {
	color: #a22525;
}

#add_inform, #add_ads {
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 50px;
	height: 50px;
	background: url('../img/add.svg') no-repeat;
  	background-size: 49px 50px;
}

/*Добавить встречу*/
