@font-face {
    font-family: OpenSansSemibold; /* Имя шрифта */
    src: url('../fonts/OpenSans-Semibold.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansLight; /* Имя шрифта */
    src: url('../fonts/OpenSans-Light.ttf'); /* Путь к файлу со шрифтом */
}

.inform_block {
	color: black;
	background-color: white;
	overflow:hidden;
	margin: 6px;
	border: 1px solid #d8dbe0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.visible_inform {
	overflow:hidden;
}

.inform_target {
	font-family: OpenSansSemibold;
	font-size: 16px;
	width: 71%;
	float: left;
	padding-top: 9px;
	padding-left: 9px;
}

.inform_name {	
	width: 29%;
	float: left;
	text-align: right;
	padding-right: 4px;
	padding-top: 4px;
}

.show_hide_info {
	width: 100%;
	height: 28px;
}

.hide_inform {
	display: none;
}

.info_inform {
	margin-top: 3px;
}

.info_inform, .place_inform {
	margin-left: 32px;
	margin-right: 6px;
}

.inform_name, .info_inform, .place_inform {
	font-weight: normal;
	font-family: OpenSansLight;
	font-size: 14px;
}

#add_inform {
	position: fixed;
	right: 25px;
	bottom: 56px;
	width: 46px;
	height: 46px;
	background-image: url('../img/add_inform.png');
	cursor: pointer;
}

/*Добавить встречу*/
