@font-face {
	font-family: 'Myriad Pro Condensed';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}


.pages {
	font-family:'Myriad Pro Condensed';
	font-stretch: condensed;
  	font-size: 15pt;
}

#heading {
	background-color: #1e96f5;	
	height: 45px;
	border-bottom: 3px solid #e46f9b;

}

#name_page {
	color: white;
	text-transform: uppercase;
	text-decoration: underline;
	margin-left: 14px;
	margin-top: 10px;
	font-family:'Myriad Pro Condensed';
	font-stretch: condensed;
  	font-size: 15pt;
	font-weight: 500;	
	float: left;
}

.settings {
	float:right;
	margin-right: 15px;
	margin-top: 7px;
}

#events_write {
	overflow: hidden;
	background-color: #dee5eb;
}

.event {
	background-color: #fff;
	font-family:'Myriad Pro Condensed';
	margin-top: 8px;
	margin-left: 5px;
	margin-right: 5px;  	
  	font-size: 15pt;	
	color: black;
	border: 1px solid #d8dbe0;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.29);
	-moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.29);
	box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.29);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.event:active {
	background-color: rgba(30, 150, 245, 0.1);
	
}
.event_all {
  	width: 100%;
  	height: 67px;
}

.event_ava {
  	float: left;
  	height: 64px;
  	margin-top: 4px;
  	margin-left: 4px;	
}

.event_title {
  	font-size: 15.5pt;
  	float: left;
  	overflow: hidden;
  	width: 70%;
	font-weight: 600;
}

.event_name {
	white-space: nowrap;
	text-overflow: ellipsis; 
	overflow: hidden;
  	margin-top: 11px;
  	margin-left: 5px;
}

.event_date {
  	margin-top: 5px;
  	margin-left: 5px;
	color: #9a9a9a;
	font-size: 13pt;
}

.event_content {	
	padding: 10px;	
	font-size: 12.5pt;
	font-weight: normal;
}

#filter_black {
	position: fixed;   
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
	background: rgba(0, 0, 0, 0.8);	
	z-index: 1;
}

.filter_white {	
	background-color: white;
	top: 50px;	
	height: 280px;
	width: 100%;
	position: fixed; 
	-webkit-box-shadow: 0px 4px 6px -1px rgba(50, 50, 50, 0.87);
	-moz-box-shadow:    0px 4px 6px -1px rgba(50, 50, 50, 0.87);
	box-shadow:         0px 4px 6px -1px rgba(50, 50, 50, 0.87);
	z-index: 2;
}

#filter_city {
	z-index: 3;
	position: fixed; 
	top: 50px;	
	height: 300px;
	width: 100%;
	background-color: white;	
	-webkit-box-shadow: 0px 4px 6px -1px rgba(50, 50, 50, 0.87);
	-moz-box-shadow:    0px 4px 6px -1px rgba(50, 50, 50, 0.87);
	box-shadow:         0px 4px 6px -1px rgba(50, 50, 50, 0.87);
	font-family:'Myriad Pro Condensed';
	font-size: 14pt;	
	overflow: hidden;
}

#content_list_city {
	overflow: scroll;	
	height: 270px;
}

#name_city_list {
	color:black;
	font-family:'Myriad Pro Condensed';
	float: left;
	margin-left: 4px;
	margin-top: 4px;
	text-decoration: underline;
	text-transform: uppercase;
}

#close {
	float:right;
	margin-right: 4px;
	margin-top: 4px;
}

.filter_text {	
	display: block;
	float:left;
	color: black;
	font-size: 15pt;
	margin-left: 13px;
	margin-top: 40px;	
	font-weight: 600;
}

.filter_block, input[type=date]  {	
	display: block;
	float:left;	
	border: 1px solid #b7b7b7;
	font-weight: bold;
	font-size: 14pt;
	color: #6e6e6e;	 
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 5px;
}

div .filter_block {
	height: 34px;
	width: 95px;
	margin-left: 13px;
	margin-top: 40px;	
	white-space: nowrap;
	text-overflow: ellipsis; 
	overflow: hidden;
}

input[type=date]  {	
	width: 80%;
	margin-top: 5px;
	margin-left: 40px;
    color: red;	
}

#list_city {
	color: black;
	margin-left: 1px;
	font-size: 16pt;
}

#item1 {
	background-color: #dee5eb;
	padding: 0;	
}

.clearer {
  	clear: both;
  	display: block;
  	font-size: 0;
  	line-height: 0;
}

.round {
  	border-radius: 100px;
  	/* Радиус скругления */
  	border: 3px solid #d8dbe0;
}
.a_event {
	text-decoration: none;
	display: block;
}
#preloader_event, #preloader_events {
	background: url(http://it-event.tk/img/preloader.gif);
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
   	text-align: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}